.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo {
  width: 5%;
  margin-left: 16px;
}

.nav-center {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

nav a {
  padding: 20px 15px;
  text-decoration: none;
}

.nav-right {
  margin-right: 16px;
}